body {
  box-sizing: border-box;
  padding: 15px;
}


.card {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid green;
}

input {
  width: 100px;
  height: 20px;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 20px;
}
